.holi {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 1rem;
  justify-content: space-between;
}
.holi ol {
  display: flex;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0rem 26rem 0rem 26rem;
}
.holi ol li {
  padding: 5rem;
  text-decoration: none;
}
.holi ol li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.headline {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 1rem;
  justify-content: space-between;
}

ol {
  display: flex;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  gap: 20px;
}

li {
  padding: 5rem;
  text-decoration: none;
}
li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.icon {
  width: 132px;
  height: 112px;
  margin-top: 43px;
  margin-right: 100px;
}

.arrow {
  width: 30px;
  height: 30px;
  margin-top: 80px;
}

.SubTitles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  margin-left: 134px;
  color: #800101;
}

.contenedores {
  background-color: rgba(55, 54, 57, 0.2666666667);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button--base {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 18.75rem;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
}
.button--base:hover {
  box-shadow: rgb(247, 247, 247) 0px 0px 4px 7px;
  color: #960f0f;
}
.button--base :focus {
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  color: #ffffff;
}

.button--primary {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 18.75rem;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
}

.button--secundary {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 18.75rem;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #1738e2 0%, #071041 100%);
}

.content {
  display: flex;
}

li {
  list-style: none;
}

h1 {
  color: black;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.rojo1 {
  background-color: #410000;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo2 {
  background-color: #720c0c;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.rojo3 {
  background-color: #b81c1c;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris1 {
  background-color: #595959;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris2 {
  background-color: #777373;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.gris3 {
  background-color: #a69f9f;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul1 {
  background-color: #05003f;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul2 {
  background-color: #02006b;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.azul3 {
  background-color: #2825db;
  width: 185px;
  color: white;
  height: 35px;
  left: 1571px;
  top: 237px;
  margin-bottom: 5px;
}

.darrell a {
  text-decoration: none;
  color: #fff;
}
.darrell section {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 25px;
}
.darrell .navegation {
  position: absolute;
  left: 661px;
}
.darrell .default {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 14px;
}
.darrell .default a {
  display: block;
  background: rgb(150, 15, 15);
  background: linear-gradient(185deg, rgb(150, 15, 15) 0%, rgb(47, 5, 5) 100%);
  border-radius: 25px;
  width: 73px;
  height: 40px;
  border-radius: 29%;
  padding-left: 30px;
  padding-top: 19px;
}
.darrell .desactive {
  display: flex;
  flex-direction: row;
  gap: 44px;
  margin-top: 14px;
}
.darrell .desactive a {
  display: block;
  background: rgb(0, 15, 93);
  background: linear-gradient(185deg, rgb(0, 15, 93) 0%, rgb(0, 31, 197) 48%, rgb(0, 4, 27) 100%);
  border-radius: 25px;
  width: 73px;
  height: 40px;
  border-radius: 29%;
  padding-left: 30px;
  padding-top: 19px;
}
.darrell .hover {
  display: flex;
  flex-direction: row;
  gap: 44px;
  margin-top: 14px;
}
.darrell .hover a {
  display: block;
  background: rgb(158, 158, 158);
  background: linear-gradient(185deg, rgb(158, 158, 158) 0%, rgb(89, 89, 89) 100%);
  border-radius: 25px;
  width: 73px;
  height: 40px;
  border-radius: 29%;
  padding-left: 30px;
  padding-top: 19px;
}
.darrell .funtional {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 14px;
}
.darrell .funtional a {
  display: block;
  background: rgb(150, 15, 15);
  background: linear-gradient(185deg, rgb(150, 15, 15) 0%, rgb(47, 5, 5) 100%);
  border-radius: 25px;
  width: 73px;
  height: 40px;
  border-radius: 29%;
  padding-left: 30px;
  padding-top: 19px;
}
.darrell .funtional :hover {
  background: rgb(158, 158, 158);
  background: linear-gradient(185deg, rgb(158, 158, 158) 0%, rgb(89, 89, 89) 100%);
}
.darrell .funtional :focus {
  background: rgb(0, 15, 93);
  background: linear-gradient(185deg, rgb(0, 15, 93) 0%, rgb(0, 31, 197) 48%, rgb(0, 4, 27) 100%);
}
.darrell .poli {
  width: 18px;
  height: 27px;
}

.date__bar {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1rem black solid;
  flex-direction: column;
}
.date__bar .move_arrow {
  width: 3rem;
  height: 3rem;
  border: 0.8rem solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
  position: relative;
  bottom: -1rem;
  background: none;
}
.date__bar .move_arrow-seondary {
  transform: rotate(136deg);
}
.date__bar h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.date__bar ol {
  display: flex;
  justify-content: center;
  margin-left: -2rem;
  margin-bottom: 4rem;
  width: 100%;
  height: auto;
}
.date__bar ol li {
  padding: 1rem;
}
.date__bar a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.reserv__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reserv__main a {
  text-decoration: none;
}

.first-lesson_list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.first-lesson_list li {
  padding: 1rem;
}

body {
  margin: auto;
}

.headline {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 99%;
  height: auto;
  padding: 16px;
  justify-content: space-between;
  position: relative;
}

ol {
  display: flex;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  gap: 20px;
}

li {
  padding: 5rem;
  text-decoration: none;
}
li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.375rem;
}
li a:hover {
  color: gray;
}
li a:focus {
  color: black;
}

.arrow {
  width: 14px;
  height: 14px;
  margin-top: 94px;
}

.headline__icon {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  margin-right: 100px;
}

.SubTitles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  margin-left: 9px;
  color: #800101;
  margin-top: 50px;
}

.slider {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.slider_imgs {
  gap: 73px;
  display: flex;
  border: solid;
  width: 264px;
  justify-content: center;
}

.arrow_nav {
  width: 50px;
  height: 51px;
  margin-top: 80px;
}

.section__text {
  margin-left: 102px;
  font-family: "Montserrat", sans-serif;
}

.section_grup {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  color: black;
  margin-left: 115px;
}

.section_spining {
  margin-left: 112px;
}

.section_imgs {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.foot {
  width: 100%;
  height: 15.625rem;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0rem 0.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.25);
  display: flex;
}
.foot__fire {
  width: 6.5rem;
  height: 6.5625rem;
  position: relative;
}
.foot p {
  color: white;
  position: relative;
  top: 1.75rem;
  left: 2.375rem;
}
.foot__redes {
  display: grid;
}

.foot__redes {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10%;
  color: white;
  gap: 4%;
}

.img-foot {
  position: relative;
  left: 29%;
  padding: 3rem 1.125rem 0.4375rem 0.1875rem;
}

.p-footer {
  position: relative;
  left: 10%;
  top: 28%;
}

.networks {
  display: flex;
  align-content: flex-end;
  position: relative;
  left: 51%;
  top: 12%;
  color: white;
  flex-direction: column;
  font-size: 34px;
}
.networks__text {
  font-family: "Montserrat", sans-serif;
}
.networks__logos {
  display: flex;
  gap: 20px;
}

/*# sourceMappingURL=styles.css.map */
