body {
  margin: auto;
}

.menu ol {
  display: flex;
  justify-content: center;
}

.buttons ol {
  display: flex;
}

.coachs {
  display: flex;
  height: auto;
  align-items: center;
}

.header {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 1rem;
  justify-content: space-between;
}
.header ol {
  display: flex;
}
.header ol .header {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 1rem;
  justify-content: space-between;
}
.header ol .headline {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 1rem;
  justify-content: space-between;
}
.header ol ol {
  display: flex;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  gap: 20px;
}
.header ol li {
  padding: 5rem;
  text-decoration: none;
}
.header ol li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.375rem;
}
.header ol li a:hover {
  color: gray;
}
.header ol li a:focus {
  color: black;
}
.header ol .icon {
  width: 132px;
  height: 112px;
  margin-top: 43px;
  margin-right: 100px;
}
.header ol .arrow {
  width: 30px;
  height: 30px;
  margin-top: 80px;
}
.header ol .SubTitles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  margin-left: 134px;
  color: #800101;
}

.header--main {
  box-shadow: none;
  background: transparent;
}

.img img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

footer {
  display: flex;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 538px;
  padding: 1rem;
  justify-content: space-between;
}
footer .horario {
  display: flex;
}
footer .horario ul {
  display: inline-block;
}

.content {
  display: flex;
}

.contenedores {
  background-color: rgba(55, 54, 57, 0.2666666667);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button--base {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 14.75rem;
  height: 3.625rem;
  display: flex;
  padding: 0.7 0.3;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
}
.button--base:hover {
  box-shadow: rgb(247, 247, 247) 0rem 0rem 0.25rem 0.4375rem;
  color: #960f0f;
}
.button--base :focus {
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  color: #ffffff;
}

.button--primary {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 14.75rem;
  height: 3.625rem;
  display: flex;
  padding: 0.7 0.3;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
}

.button--secundary {
  background: linear-gradient(180deg, #9e9e9e 0%, #595959 100%);
  box-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  width: 14.75rem;
  height: 3.625rem;
  display: flex;
  padding: 0.7 0.3;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.3125rem 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #1738e2 0%, #071041 100%);
}

.darrell a {
  text-decoration: none;
  color: #fff;
}
.darrell section {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1.5625rem;
}
.darrell .navegation {
  position: absolute;
  left: 41.3125rem;
}
.darrell .default {
  display: flex;
  flex-direction: row;
  gap: 2.1875rem;
  margin-top: 0.875rem;
}
.darrell .default a {
  display: block;
  background: rgb(150, 15, 15);
  background: linear-gradient(185deg, rgb(150, 15, 15) 0%, rgb(47, 5, 5) 100%);
  border-radius: 1.5625rem;
  width: 4.5625rem;
  height: 2.5rem;
  border-radius: 29%;
  padding-left: 1.875rem;
  padding-top: 1.1875rem;
}
.darrell .desactive {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
  margin-top: 0.875rem;
}
.darrell .desactive a {
  display: block;
  background: rgb(0, 15, 93);
  background: linear-gradient(185deg, rgb(0, 15, 93) 0%, rgb(0, 31, 197) 48%, rgb(0, 4, 27) 100%);
  border-radius: 1.5625rem;
  width: 4.5625rem;
  height: 2.5rem;
  border-radius: 29%;
  padding-left: 1.875rem;
  padding-top: 1.1875rem;
}
.darrell .hover {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
  margin-top: 0.875rem;
}
.darrell .hover a {
  display: block;
  background: rgb(158, 158, 158);
  background: linear-gradient(185deg, rgb(158, 158, 158) 0%, rgb(89, 89, 89) 100%);
  border-radius: 1.5625rem;
  width: 4.5625rem;
  height: 2.5rem;
  border-radius: 29%;
  padding-left: 1.875rem;
  padding-top: 1.1875rem;
}
.darrell .funtional {
  display: flex;
  flex-direction: row;
  gap: 2.1875rem;
  margin-top: 0.875rem;
}
.darrell .funtional a {
  display: block;
  background: rgb(150, 15, 15);
  background: linear-gradient(185deg, rgb(150, 15, 15) 0%, rgb(47, 5, 5) 100%);
  border-radius: 1.5625rem;
  width: 4.5625rem;
  height: 2.5rem;
  border-radius: 29%;
  padding-left: 1.875rem;
  padding-top: 1.1875rem;
}
.darrell .funtional :hover {
  background: rgb(158, 158, 158);
  background: linear-gradient(185deg, rgb(158, 158, 158) 0%, rgb(89, 89, 89) 100%);
}
.darrell .funtional :focus {
  background: rgb(0, 15, 93);
  background: linear-gradient(185deg, rgb(0, 15, 93) 0%, rgb(0, 31, 197) 48%, rgb(0, 4, 27) 100%);
}
.darrell .poli {
  width: 1.125rem;
  height: 1.6875rem;
}

li {
  list-style: none;
}

h1 {
  color: black;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.rojo1 {
  background-color: #410000;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.rojo2 {
  background-color: #720c0c;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.rojo3 {
  background-color: #b81c1c;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris1 {
  background-color: #595959;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris2 {
  background-color: #777373;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris3 {
  background-color: #a69f9f;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul1 {
  background-color: #05003f;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul2 {
  background-color: #02006b;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul3 {
  background-color: #2825db;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.date__bar {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1rem black solid;
  flex-direction: column;
}
.date__bar .move__arrow {
  width: 3rem;
  height: 3rem;
  border: 0.8rem solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
  position: relative;
  bottom: -1rem;
  background: none;
}
.date__bar .move__arrow:hover {
  cursor: pointer;
}
.date__bar .move__arrow-seondary {
  transform: rotate(136deg);
}
.date__bar h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  margin: 6rem 4rem 1rem;
  font-size: 3rem;
}
.date__bar ol {
  display: flex;
  justify-content: center;
  margin-left: -2rem;
  margin-bottom: 4rem;
  width: 100%;
  height: auto;
}
.date__bar ol li {
  padding: 1rem;
}
.date__bar a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
}
.date__bar a p,
.date__bar a a {
  width: 18rem;
  height: 6rem;
  padding: 1rem;
}

.container--reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.container--reserv .reserv__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container--reserv .reserv__main a {
  text-decoration: none;
}

.container--lesson {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.index__container {
  width: 100%;
  height: 1292px;
}

.lessons {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.first-lesson_list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.first-lesson_list p {
  margin-right: 6rem;
  font-weight: 500;
  line-height: 3.9375rem;
  color: #5d0404;
  border: #5d0404 0.365rem solid;
  background: #d9d9d9;
}
.first-lesson_list li {
  width: 100%;
  height: auto;
}
.first-lesson_list li p,
.first-lesson_list li a {
  padding: 1.5rem 4.6063rem;
  border-radius: 3rem;
  font-size: 2.875rem;
}
.first-lesson_list li p:hover,
.first-lesson_list li a:hover {
  cursor: pointer;
}
.first-lesson_list:nth-child(1) h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  margin: auto 13rem auto auto;
  font-size: 4.7rem;
}

.SubTitles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  margin-left: 9px;
  color: #800101;
  margin-top: 50px;
}

.slider {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.slider_imgs {
  gap: 73px;
  display: flex;
  border: solid;
  width: 264px;
  justify-content: center;
}

.arrow_nav {
  width: 50px;
  height: 51px;
  margin-top: 80px;
}

.section__text {
  margin-left: 102px;
  font-family: "Montserrat", sans-serif;
}

.section_grup {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
  color: #FFFFFF;
  color: black;
  margin-left: 115px;
}

.section_spining {
  margin-left: 112px;
}

.section_imgs {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-secundary {
  width: 100%;
  height: 15.625rem;
  background: linear-gradient(180deg, #960f0f 0%, #2f0505 100%);
  box-shadow: 0rem 0.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.25);
  display: flex;
}
.footer-secundary__fire {
  width: 6.5rem;
  height: 6.5625rem;
  position: relative;
}
.footer-secundary p {
  color: white;
  position: relative;
  top: 1.75rem;
  left: 2.375rem;
}
.footer-secundary__redes {
  display: grid;
}

.foot__redes {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 4%;
}

.img-foot {
  position: relative;
  padding: 3rem 1.125rem 0.4375rem 0.1875rem;
}

.p-footer {
  position: relative;
  left: 10%;
  top: 28%;
}

.networks {
  display: flex;
  align-content: flex-end;
  color: white;
  flex-direction: column;
}
.networks__text {
  font-family: "Montserrat", sans-serif;
}
.networks__logos {
  display: flex;
  gap: 21px;
}

form {
  width: 450px;
  margin-left: 150px;
  background: rgb(36, 52, 77);
  background: linear-gradient(180deg, rgb(36, 52, 77) 0%, rgb(103, 128, 201) 100%);
  border-radius: 1.25rem;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
}

input.textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

input.password {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
