.rojo1 {
  background-color: #410000;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.rojo2 {
  background-color: #720c0c;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.rojo3 {
  background-color: #b81c1c;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris1 {
  background-color: #595959;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris2 {
  background-color: #777373;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.gris3 {
  background-color: #a69f9f;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul1 {
  background-color: #05003f;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul2 {
  background-color: #02006b;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}

.azul3 {
  background-color: #2825db;
  width: 11.5625rem;
  color: white;
  height: 2.1875rem;
  left: 98.1875rem;
  top: 14.8125rem;
  margin-bottom: 0.3125rem;
}
